  .mainproduct {
    
    width: 100%;
    /* border: 1px solid red; */
    margin: 5px;
  }
  .divhyt{
    width: 100%;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .pad{
    height: 150px;
    /* margin-top: 5%; */
    /* margin-right: 100px; */
    margin-left: 30px;
    width: 100%;
    /* padding-top: 55px; */
    padding-left: 180px;

  
  }
  .profooter{
    text-align: center;
    width: 101%;
    height: 200px;
    background-color: rgb(64, 65, 64);
    color: white;
    padding: 0px;
    margin-right: 0px;
  }
  .prosubname{
  color: rgb(156, 152, 152);
  width: 20%;
  height: 50px;
  padding: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 1px;
  }
  .protalign{
    width: 20%;
    height: 50px;
    padding: 10px;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 5px;
  }
  
  .btnaddproduct{
    padding:15px;
    margin-top: 1px;
    padding-top: 1px;

  }
  .btnstock{
    color: white;
  }
  .productheader{
    height: 50px;
  }
  .producttable{
    margin-left: 100px;
    margin-bottom: 210px;
    margin-top: 30px;
    margin-right: 95px;
    

  }
 